@model Atividade1.Models.Produto;

<h2>Cadastro do produto</h2>

<form asp-action="CadastroProd" method="post">
    <div>
        <label>Nome:</label>
        <input asp-for="Nome" type="text" required />
    </div>
    <div>
        <label>Preco:</label>
        <input asp-for="Preco" type="text" required />
    </div>
    <div>
        <label>descrição:</label>
        <input asp-for="Descricao" type="text" required />
    </div>
    <button type="submit">Novo Cadastrado</button>
</form>